*{
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #5A4F4F;
    border-radius: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.54);
    border-radius: 5px;
}
/*======================менюшка=====================*/
.menubar{
    display: none;
    position: fixed;
    width: 80px;
    height: 80px;
}
.imgmenubar{
    margin-left: 25px;
    margin-top: 30px;
}
.allmenu{
    display: none;
    margin-top: 80px;
    position: fixed;
    height: 100%;
    width: 430px;
    background-color: #645959;
}
.conmenu{
    height: 79px;
    background-color: #5A4F4F;
    /* padding-left: 30px; */
    border-top: 1px solid #393737;
}
.hcon{
    padding-left: 30px;
    padding-top: 27.5px;
}
.noneconbtn{
    margin-left: -80px;
}
.conmenu2{
    height: 79px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgconmenu{
    margin-left: 30px;
    margin-right: 120px;
}
/*======================менюшка=====================*/
body{
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
.container1{
    width: 100%;
    height: 1080px;
    background-color: #131313;
}
.header{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #595a4f;
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 0px 0px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 5px;
}
.menu{
    display: flex;
    margin-left: 0.5vw;
    flex-direction: row;
}
.con1{
    width: 15%;
    padding-left: 2vw;
    padding-right: 2vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bolder;
}
.con1:hover{
    background-color: rgba(152, 152, 152, 0.4);
}
.car1{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.message {
    position: fixed;
    top: 80vh;
    left: 90vw;
    animation: jump 1s infinite alternate;
}
@keyframes jump {
    100%, 5% { transform: translateY(0); }
    10% { transform: translateY(-4px); }
}
.btn{
    background-color: #827B7B;
    display: flex;
    align-items: center;
    height: 50px;
    width: 350px;
    font-size: 12px;
    margin-right: -40px;
}
.btnconfigure{
    position: absolute;
}
.btn:hover{
    background-color: #252525;
    border: 1px solid white;
    height: 48px;
    width: 348px;
}
.car{
    margin-right: -15px;
}
.upperimg{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}
.toimg{
    margin-left: -10px;
}
.about{
    margin-top: 15px;
}
.autoconfigure{
    margin-right: 50px;
}
.undtext{
    width: 450px;
}
.h3improve{
    font-weight: normal;
}
.leftcon{
    margin-top: 10px;
    margin-left: 15px;
    width: 400px;
}
.container2 {
    max-width: 100%; 
    padding: 0 10px; 
    height: 1150px;
    background-color: #0F0E0E;
}
.carrow1 {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr))
}
.jaguars {
    max-width: 100%; 
    height: auto; 
}
.jaguars:hover{
    opacity: 0.6;
    transition: 1s;
}
.carrow2{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}
.container3{
    height: 1100px;
    background-color: #000000;
}
.carelipse{
    display: flex;
    margin-right: 100px;
    width: 100px;
    flex-direction: row;
    justify-content: flex-end;
}
.newerajag{
    margin-top: -800px;
    margin-left: 100px;
}
.pngcar{
    margin-top: 40px;
    margin-left: 70px;
    width: 670px;
}
.undercar{
    width: 680px;
    margin-left: 100px;
}
.btn{
    margin-top: 15px;
    margin-left: 0px;
}
.cars4{
    display: flex;
    margin-top: 150px;
    width: 700px;
    margin-right: 100px;
}
.container4{
    width: 100%;
    height: 800px;
    background-color: #131313;
}
.morecarrow{
    margin-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pmorecar{
    width: 550px;
}
.container5{
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    background-color: black;
}
.con5{
    width: 400px;
}
.footer{
    height: 800px;
    background-color: #353535;
    display: flex;
    flex-direction: row;
}
.jags{
    margin: 0;
    width: 200px;
    margin-top: 15px;
    font-size: 15px;
}
.logos{
    margin-left: -0px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 120px;
    font-size: 12px;
}
.footerjags{
    margin-top: 15px;
    font-size: 20px;
}
.jag{
    margin-top: 20px;
    width: 300px;
}
.block{
    margin-top: 80px;
}
.block1{
    margin-left: 100px;
}
.block4{
    margin-right: 70px;
}
.youtu{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    
}
.youtu:hover{
    background-color: #DD2A2A;
}
.newerajag{
    width: 870px;
}
.insta{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.insta:hover{
    background-color: #E897EF;
}
.face{
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.testdrive{
    margin-left: 100px;
}
.face:hover{
    background-color: #3894E9;
}
.linkdn{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.linkdn:hover{
    background-color: #2A46D8;
}
.h3improve:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #c3d1d7;
}
.textmorecar{
    margin-top: 15px;
}
.h2morecar{
    margin-top: 20px;
}
.modeljaguartxt{
    letter-spacing: 3px; 
    padding-top: 40px; 
    padding-left: 40px; 
    font-size: 25px;
}
.learnabout{
    margin-left: 100px; 
    padding-top: 60px; 
    font-size: 30px;
}


/* ============================================================ MEDIA QUERIES ===============================================================  */
@media only screen and (max-width: 1720px) {
    .framecar{
        width: 400px;
    }
    .h2morecar{
        width: 400px;
    }
    .pmorecar{
        width: 400px;
    }
    .jaguars{
        width: 90%;
    }
    .imgcar{
        width: 400px;
    }
    .leftcon{
        width: 300px;
    }
    .carrow2{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
    }
}

@media only screen and (max-width: 1600px) {
    .h2morecar, .pmorecar, .framecar{
        width: 400px;
    }
    .jaguars{
        width: 90%;
    }
    .imgcar{
        width: 350px;
    }
    .carrow2{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
    }
    .h3opis{
        font-size: 15px;
    }
    .opiscon5{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1430px) {
    .carrow1, .carrow2{
        display: flex;
        flex-direction: column;
    }
    .container1{
        height: 900px;
    }
    .container2{
        height: 100%;
        padding: 0px 0px 100px 0px;
    }
    .jaguars{
        max-width: none;
    }
    .imgcar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90vw;
    }
    .leftcon{
        width: 80%;
        margin-left: 100px;
    }
    .con1{
        width: 20%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .pngcar{
        width: 500px;
    }
    .cars4{
        width: 600px;
    }
}
@media only screen and (max-width: 1260px){
    .framecar, .morecar{
        width: 300px;
    }
    .pmorecar{
        font-size: 15px;
        width: 300px;
    }
    .h2morecar{
        width: 300px;
        font-size: 20px;
    }
    .h3improve{
        font-size: 15px;
    }
    .con5{
        width: 250px;
    }
    .con1{
        font-size: 12px;
        width: 20%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .message {
        top: 80vh;
        left: 88vw;
    }
    .footerjags{
        font-size: 15px;
    }
    .h3improve{
        font-size: 12px;
    }
    .logosh3{
        font-size: 13px;
    }
    .jag{
        margin-top: 60px;
        margin-left: -20px;
        width: 200px;
    }
}

@media only screen and (max-width: 1024px){
    .framecar{
        width: 100%;
    }
    .pmorecar{
        font-size: 15px;
        width: 600px;
    }
    .morecar{
        width: 600px;
        display: flex;
        flex-direction: column;
    }
    .h2morecar{
        width: 600px;
        font-size: 20px;
    }
    .h3improve{
        font-size: 15px;
    }
    .con5{
        width: 150px;
    }
    .con1{
        font-size: 12px;
        width: 20%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .logo{
        margin: 0px 0px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        letter-spacing: 5px;
    }
    .menu{
        width: 80%;
        margin-left: -40px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .container1{
        display: none;
    }
    .footerjags, .logosh3{
        font-size: 13px;
    }
    .jags{
        font-size: 10px;
    }
    .jag{
        margin-top: 60px;
        margin-left: -20px;
        width: 200px;
    }
    .newerajag{
        font-size: 20px;
        width: 700px;
    }
    .pngcar{
        margin-top: 200px;
        width: 400px;
    }
    .imgcar0{
        width: 500px;
    }
    .morecarrow{
        display: flex;
        flex-direction: column;
    }
    .container4{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .textmorecar{
        width: 600px;
    }
    .morecarbottommargin{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .menu{
        visibility: hidden;
    }
    .leftcon{
        margin-left: 35px;
        width: 80%;
    }
    .newerajag{
        font-size: 12px;
        width: 100px;
    }
    .upperimg{
        display: flex;
        flex-direction: column;
    }
    .logo{
        padding-left: 90px;
    }
    .menubar{
        display: block;
    }
    .message {
        top: 80vh;
        left: 70vw;
        height: 20px;
    }
    .main{
        display: none;
    }
    .jaguars{
        margin-top: 20px;
    }
    .undercar{
        margin-left: 10px;
    }
    .morecarrow{
        display: flex;
        flex-direction: column;
    }
    .container5{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .testdrive{
        margin: 0;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .pngcar, .undercar{
        width: 200px;
    }
    .cars4{
        width: 100px;
    }
    /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
    .framecar{
        width: 200px; 
        
    }
    .morecar{
        width: 200px;
    }
    .textmorecar{
        width: 200px;
    }
}